.flex{
  display: flex;
}
.row{
  flex-direction: row;
}
.column{
  flex-direction: column;
}
.align-center{
  align-items: center;
}
.align-base{
  align-items: baseline;
}
.align-end{
  align-items: end;
}
.justify-space{
  justify-content: space-around;
}
.align-space{
  align-items: space-around;
}
.justify-center{
  justify-content: center;
}
.capitalize{
  text-transform: capitalize;
}

.prevision-card-body{
  width: 100%;
  height: 50px;
}